{% extends "admin/base.html" %}
{% load key %}
{% load array %}
{% load staticfiles %}
{% block stylesheet %}{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css"%}" />
<link rel="stylesheet" type="text/css "href="{% static "css/bootstrap-modal-bs3patch.css"%}" />
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-modal.css"%}" />
<script src="{% static "js/jquery-1.10.2.min.js"%}"></script>
<script src="{% static "js/bootstrap.min.js"%}"></script>
<script src="{% static "js/bootstrap-modalmanager.js"%}"></script>
<script src="{% static "js/bootstrap-modal.js"%}"></script>
<script src="{% static "js/bootstrap3-validation.js"%}"></script>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<link  rel="stylesheet" type="text/css"  href="{% static "css/bootstrap-ie78.css"%}"/>
<script src="{% static "js/respond.min.js"%}"></script> 
<script src="{% static "js/html5.js"%}"></script>
<![endif]-->
{% endblock %}
{% block content %}
    {% block container %}
        <div class="container">
            <div class="span6" id="operate">
                <p>
                <a class="ajax_additem btn btn-primary" data-toggle="modal" ><i class="glyphicon glyphicon-plus icon-white"></i> Add Item</a>

	<div id="modal_additem" class="modal container fade" tabindex="-1" data-backdrop="static" data-keyboard="false" style="display: none; margin-top: -0.09090912342071533px;" aria-hidden="true"></div>
                </p>
            </div>    
            {% if object.object_list %}
                        <table class="table table-bordered table-striped">
                                <thead>
                                  <tr>
                                        <th>ItemID</th>
                                        <th>Pic</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>PrimaryCategory</th>
                                        <th>StartPrice</th>
                                        <th>PaymentMethods</th>
                                        <th>PayPalEmailAddress</th>
                                        
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for obj in object.object_list %}
                                  <tr>
                                        <td>{{obj|key:"ItemID"|key:"value"}}</td>
                                        {% if obj|key:"PictureDetails"|key:"GalleryType"|key:"value" = 'Gallery' %}
                                            <td>
                                                {% for img in obj|key:"PictureDetails"|key:"PictureURL" %}
                                                    <img src="{{img|key:"value"}}"/>                                      
                                                {% endfor %}
                                            </td> 
                                        {% else %}
                                            <td>nophoto</td>
                                        {% endif %}
                                        <td title="{{obj|key:"Title"|key:"value"}}">{{obj|key:"Title"|key:"value"|truncatewords:"15"}}</td>
                                        <td title="{{obj|key:"Description"|key:"value"}}">{{obj|key:"Description"|key:"value"|truncatewords:"15"}}</td>
                                        <td title="{{obj|key:"PrimaryCategory"|key:"CategoryName"|key:"value"}}">{{obj|key:"PrimaryCategory"|key:"CategoryName"|key:"value"|truncatewords:"15"}}</td>
                                        <td title="{{obj|key:"StartPrice"|key:"value"}}">{{obj|key:"StartPrice"|key:"value"|truncatewords:"15"}}</td>
                                        <td title="{{obj|key:"PaymentMethods"|key:"value"}}">{{obj|key:"PaymentMethods"|key:"value"|truncatewords:"15"}}</td>
                                        <td title="{{obj|key:"PayPalEmailAddress"|key:"value"}}">{{obj|key:"PayPalEmailAddress"|key:"value"|truncatewords:"15"}}</td>
                                        
                                  </tr>
                                        
                                  {% endfor %}
                                </tbody>
                        </table>
                <div class="btn-toolbar" pageall="{{PageItems.count}}" pagesize="{{ItemsPerPage}}" current="{{PageItems.number}}">
                                <div class="btn-toolbar hlju_pagebar">
                                        <div class="btn-group">
                                                        <a class="btn btn-default" href="/?page=1/" ><i class="glyphicon glyphicon-step-backward"></i> First</a>
                                                {% if object.has_previous %}
                                                        <a class="btn btn-default" href="/?page={{ object.previous_page_number }}/"><i class="glyphicon glyphicon-chevron-left"></i> Prev</a>   
                                                {% else %}
                                                        <a class="btn btn-default disabled" ><i class="glyphicon glyphicon-chevron-left"></i>Prev</a>   
                                                {% endif %}
                                                {% if object.has_next %}
                                                        <a class="btn btn-default" href="/?page={{ object.next_page_number }}/" >Next <i class="glyphicon glyphicon-chevron-right"></i></a>  
                                                {% else %}
                                                        <a class="btn btn-default disabled" >Next<i class="glyphicon glyphicon-chevron-right"></i></a>  
                                                {% endif %}
                                                <a class="btn btn-default" href="/?page={{PageItems.num_pages}}/" >Last <i class="glyphicon glyphicon-step-forward"></i></a>
                                                <a class="btn btn-default disabled">{{object.start_index}}-{{object.end_index}}(No. {{PageItems.count}}，Total {{PageItems.num_pages}} Pages)</a>
                                        </div>
                                        <div class="btn-group">
                                                {% for page in page_range %}
                                                        {% if page %}
                                                                {% ifequal page object.number %}
                                                                        <a class="btn btn-default">{{ page }}</a>
                                                                {% else %}
                                                                        <a class="btn" href="/?page={{ page }}/">{{ page }}</a>
                                                                {% endifequal %}
                                                        {% else %}
                                                                ...
                                                        {% endif %}
                                                {% endfor %}
                                                
                                        </div>
                                </div>
                        </div>
                </div>
                {% else %}
                <div class="alert alert-info"><strong>no data</strong></div>
                {% endif %}
        </div>
    {% endblock %}
    <script id="runscript">
        var $modal = $('#modal_additem');
          $('.ajax_additem').on('click', function(){
            // create the backdrop and wait for next modal to be triggered
            $('body').modalmanager('loading');                
            setTimeout(function(){
                $modal.load('/tool/item/add/', '', function(){
                    $modal.modal();
              });
            }, 1);
          });
          
    </script>
{% endblock%}